# isin

In [11]:
import numpy as np
import pandas as pd

C:\Users\Ryzen\AppData\Local\Temp\ipykernel_23796\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [13]:
df=pd.read_csv(r'E:\New folder\gap.csv')

In [14]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [15]:
df.shape

(1704, 8)

In [16]:
df.info

<bound method DataFrame.info of           country continent  year  lifeExp       pop   gdpPercap iso_alpha  \
0     Afghanistan      Asia  1952   28.801   8425333  779.445314       AFG
1     Afghanistan      Asia  1957   30.332   9240934  820.853030       AFG
2     Afghanistan      Asia  1962   31.997  10267083  853.100710       AFG
3     Afghanistan      Asia  1967   34.020  11537966  836.197138       AFG
4     Afghanistan      Asia  1972   36.088  13079460  739.981106       AFG
...           ...       ...   ...      ...       ...         ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306       ZWE
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786       ZWE
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960       ZWE
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623       ZWE
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298       ZWE

      iso_num
0           4
1           4
2           4
3           4
4           4
...       ...
1699      716
1700      716
1701      716
1702      716
1703      716

[1704 rows x 8 columns]>

In [17]:
df.head(20)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
5,Afghanistan,Asia,1977,38.438,14880372,786.113360,AFG,4
6,Afghanistan,Asia,1982,39.854,12881816,978.011439,AFG,4
7,Afghanistan,Asia,1987,40.822,13867957,852.395945,AFG,4
8,Afghanistan,Asia,1992,41.674,16317921,649.341395,AFG,4
9,Afghanistan,Asia,1997,41.763,22227415,635.341351,AFG,4
10,Afghanistan,Asia,2002,42.129,25268405,726.734055,AFG,4
11,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
12,Albania,Europe,1952,55.230,1282697,1601.056136,ALB,8
13,Albania,Europe,1957,59.280,1476505,1942.284244,ALB,8
14,Albania,Europe,1962,64.820,1728137,2312.888958,ALB,8
15,Albania,Europe,1967,66.220,1984060,2760.196931,ALB,8
16,Albania,Europe,1972,67.690,2263554,3313.422188,ALB,8
17,Albania,Europe,1977,68.930,2509048,3533.003910,ALB,8
18,Albania,Europe,1982,70.420,2780097,3630.880722,ALB,8
19,Albania,Europe,1987,72.000,3075321,3738.932735,ALB,8

In [18]:
df.tail(20)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1684,Zambia,Africa,1972,50.107,4506497,1773.498265,ZMB,894
1685,Zambia,Africa,1977,51.386,5216550,1588.688299,ZMB,894
1686,Zambia,Africa,1982,51.821,6100407,1408.678565,ZMB,894
1687,Zambia,Africa,1987,50.821,7272406,1213.315116,ZMB,894
1688,Zambia,Africa,1992,46.100,8381163,1210.884633,ZMB,894
1689,Zambia,Africa,1997,40.238,9417789,1071.353818,ZMB,894
1690,Zambia,Africa,2002,39.193,10595811,1071.613938,ZMB,894
1691,Zambia,Africa,2007,42.384,11746035,1271.211593,ZMB,894
1692,Zimbabwe,Africa,1952,48.451,3080907,406.884115,ZWE,716
1693,Zimbabwe,Africa,1957,50.469,3646340,518.764268,ZWE,716
1694,Zimbabwe,Africa,1962,52.358,4277736,527.272182,ZWE,716
1695,Zimbabwe,Africa,1967,53.995,4995432,569.795071,ZWE,716
1696,Zimbabwe,Africa,1972,55.635,5861135,799.362176,ZWE,716
1697,Zimbabwe,Africa,1977,57.674,6642107,685.587682,ZWE,716
1698,Zimbabwe,Africa,1982,60.363,7636524,788.855041,ZWE,716
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [19]:
df.sample(10)## random

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
506,Ethiopia,Africa,1962,40.059,25145372,419.456416,ETH,231
1269,Reunion,Africa,1997,74.772,684810,6071.941411,REU,638
442,Dominican Republic,Americas,2002,70.847,8650322,4563.808154,DOM,214
1217,Philippines,Asia,1977,60.060,46850962,2373.204287,PHL,608
810,Jordan,Asia,1982,63.739,2347031,4161.415959,JOR,400
1599,United Kingdom,Europe,1967,71.360,54959000,14142.850890,GBR,826
1496,Syria,Asia,1992,69.249,13219062,3340.542768,SYR,760
709,Indonesia,Asia,1957,39.918,90124000,858.900271,IDN,360
1478,Switzerland,Europe,1962,71.320,5666000,20431.092700,CHE,756
1548,Trinidad and Tobago,Americas,1952,59.100,662850,3023.271928,TTO,780

# describe: numerical columns basic statistics

In [20]:
df.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165876     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

In [22]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap',
       'iso_alpha', 'iso_num'],
      dtype='object')

In [24]:
list(df.columns)

['country',
 'continent',
 'year',
 'lifeExp',
 'pop',
 'gdpPercap',
 'iso_alpha',
 'iso_num']

# filter:

In [25]:
lists=['year','lifeExp','pop','country']
lists

['year', 'lifeExp', 'pop', 'country']

In [26]:
df[lists]

      year  lifeExp       pop      country
0     1952   28.801   8425333  Afghanistan
1     1957   30.332   9240934  Afghanistan
2     1962   31.997  10267083  Afghanistan
3     1967   34.020  11537966  Afghanistan
4     1972   36.088  13079460  Afghanistan
...    ...      ...       ...          ...
1699  1987   62.351   9216418     Zimbabwe
1700  1992   60.377  10704340     Zimbabwe
1701  1997   46.809  11404948     Zimbabwe
1702  2002   39.989  11926563     Zimbabwe
1703  2007   43.487  12311143     Zimbabwe

[1704 rows x 4 columns]

In [27]:
df['lifeExp']

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: lifeExp, Length: 1704, dtype: float64

In [28]:
type(df['lifeExp'])

pandas.core.series.Series

In [29]:
df['lifeExp']>=50

0       False
1       False
2       False
3       False
4       False
        ...
1699     True
1700     True
1701    False
1702    False
1703    False
Name: lifeExp, Length: 1704, dtype: bool

In [33]:
df[df['lifeExp']>=50].sample(10)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
82,Austria,Europe,2002,78.980,8148312,32417.607690,AUT,40
105,Bangladesh,Asia,1997,59.412,123315288,972.770035,BGD,50
32,Algeria,Africa,1992,67.744,26298373,5023.216647,DZA,12
224,Cambodia,Asia,1992,55.803,10150094,682.303175,KHM,116
305,Colombia,Americas,1977,63.837,25094412,3815.807870,COL,170
348,Costa Rica,Americas,1952,57.206,926317,2627.009471,CRI,188
1276,Romania,Europe,1972,69.210,20662648,8011.414402,ROU,642
531,France,Europe,1967,71.550,49569000,12999.917660,FRA,250
294,China,Asia,1982,65.525,1000281000,962.421381,CHN,156
973,Mauritius,Africa,1957,58.089,609816,2034.037981,MUS,480

In [34]:
df[(df['country']=='Nepal') | (df['country']=='Zimbabwe') | (df['country']=='India')]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
696,India,Asia,1952,37.373,372000000,546.565749,IND,356
697,India,Asia,1957,40.249,409000000,590.061996,IND,356
698,India,Asia,1962,43.605,454000000,658.347151,IND,356
699,India,Asia,1967,47.193,506000000,700.770611,IND,356
700,India,Asia,1972,50.651,567000000,724.032527,IND,356
701,India,Asia,1977,54.208,634000000,813.337323,IND,356
702,India,Asia,1982,56.596,708000000,855.723538,IND,356
703,India,Asia,1987,58.553,788000000,976.512676,IND,356
704,India,Asia,1992,60.223,872000000,1164.406809,IND,356
705,India,Asia,1997,61.765,959000000,1458.817442,IND,356
706,India,Asia,2002,62.879,1034172547,1746.769454,IND,356
707,India,Asia,2007,64.698,1110396331,2452.210407,IND,356
1068,Nepal,Asia,1952,36.157,9182536,545.865723,NPL,524
1069,Nepal,Asia,1957,37.686,9682338,597.936356,NPL,524
1070,Nepal,Asia,1962,39.393,10332057,652.396859,NPL,524
1071,Nepal,Asia,1967,41.472,11261690,676.442225,NPL,524
1072,Nepal,Asia,1972,43.971,12412593,674.788130,NPL,524
1073,Nepal,Asia,1977,46.748,13933198,694.112440,NPL,524
1074,Nepal,Asia,1982,49.594,15796314,718.373095,NPL,524
1075,Nepal,Asia,1987,52.537,17917180,775.632450,NPL,524
1076,Nepal,Asia,1992,55.727,20326209,897.740360,NPL,524
1077,Nepal,Asia,1997,59.426,23001113,1010.892138,NPL,524
1078,Nepal,Asia,2002,61.340,25873917,1057.206311,NPL,524
1079,Nepal,Asia,2007,63.785,28901790,1091.359778,NPL,524
1692,Zimbabwe,Africa,1952,48.451,3080907,406.884115,ZWE,716
1693,Zimbabwe,Africa,1957,50.469,3646340,518.764268,ZWE,716
1694,Zimbabwe,Africa,1962,52.358,4277736,527.272182,ZWE,716
1695,Zimbabwe,Africa,1967,53.995,4995432,569.795071,ZWE,716
1696,Zimbabwe,Africa,1972,55.635,5861135,799.362176,ZWE,716
1697,Zimbabwe,Africa,1977,57.674,6642107,685.587682,ZWE,716
1698,Zimbabwe,Africa,1982,60.363,7636524,788.855041,ZWE,716
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [35]:
con=['Zimbabwe','Nepal','India']
df[df['country'].isin(con)]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
696,India,Asia,1952,37.373,372000000,546.565749,IND,356
697,India,Asia,1957,40.249,409000000,590.061996,IND,356
698,India,Asia,1962,43.605,454000000,658.347151,IND,356
699,India,Asia,1967,47.193,506000000,700.770611,IND,356
700,India,Asia,1972,50.651,567000000,724.032527,IND,356
701,India,Asia,1977,54.208,634000000,813.337323,IND,356
702,India,Asia,1982,56.596,708000000,855.723538,IND,356
703,India,Asia,1987,58.553,788000000,976.512676,IND,356
704,India,Asia,1992,60.223,872000000,1164.406809,IND,356
705,India,Asia,1997,61.765,959000000,1458.817442,IND,356
706,India,Asia,2002,62.879,1034172547,1746.769454,IND,356
707,India,Asia,2007,64.698,1110396331,2452.210407,IND,356
1068,Nepal,Asia,1952,36.157,9182536,545.865723,NPL,524
1069,Nepal,Asia,1957,37.686,9682338,597.936356,NPL,524
1070,Nepal,Asia,1962,39.393,10332057,652.396859,NPL,524
1071,Nepal,Asia,1967,41.472,11261690,676.442225,NPL,524
1072,Nepal,Asia,1972,43.971,12412593,674.788130,NPL,524
1073,Nepal,Asia,1977,46.748,13933198,694.112440,NPL,524
1074,Nepal,Asia,1982,49.594,15796314,718.373095,NPL,524
1075,Nepal,Asia,1987,52.537,17917180,775.632450,NPL,524
1076,Nepal,Asia,1992,55.727,20326209,897.740360,NPL,524
1077,Nepal,Asia,1997,59.426,23001113,1010.892138,NPL,524
1078,Nepal,Asia,2002,61.340,25873917,1057.206311,NPL,524
1079,Nepal,Asia,2007,63.785,28901790,1091.359778,NPL,524
1692,Zimbabwe,Africa,1952,48.451,3080907,406.884115,ZWE,716
1693,Zimbabwe,Africa,1957,50.469,3646340,518.764268,ZWE,716
1694,Zimbabwe,Africa,1962,52.358,4277736,527.272182,ZWE,716
1695,Zimbabwe,Africa,1967,53.995,4995432,569.795071,ZWE,716
1696,Zimbabwe,Africa,1972,55.635,5861135,799.362176,ZWE,716
1697,Zimbabwe,Africa,1977,57.674,6642107,685.587682,ZWE,716
1698,Zimbabwe,Africa,1982,60.363,7636524,788.855041,ZWE,716
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [36]:
df['country'].unique().size

142

In [38]:
df['country'].nunique()

142

In [39]:
df['continent'].value_counts()

continent
Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: count, dtype: int64

In [40]:
df['country'].value_counts()

country
Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: count, Length: 142, dtype: int64

## aggrergarte function min max std count var mean

In [41]:
df['lifeExp'].mean

<bound method Series.mean of 0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: lifeExp, Length: 1704, dtype: float64>

In [42]:
df['pop']/1000000

0        8.425333
1        9.240934
2       10.267083
3       11.537966
4       13.079460
          ...
1699     9.216418
1700    10.704340
1701    11.404948
1702    11.926563
1703    12.311143
Name: pop, Length: 1704, dtype: float64

In [43]:
df['pop_in_m']=df['pop']/100000

In [44]:

df['country']=='Nepal'

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: country, Length: 1704, dtype: bool