In [1]:
import pandas as pd
import pickle

with open(r'E:\Datascience\DATA\share_markets.pkl','rb')as file:
    data=pickle.load(file)

C:\Users\Ryzen\AppData\Local\Temp\ipykernel_22228\1994259285.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
data=data.split('\n')

In [6]:
df = pd.DataFrame(data, columns=["Raw_Data"])

print(df)

                                             Raw_Data
0   S.N. DP ID Depository Participant (DP) Name Ad...
1   1 13013200 ABC Securities Pvt. Limited Indrach...
2   2 13012300 Agrawal Securities (Pvt.) Limited K...
3   3 13011900 Aryatara Investment & Securities Pv...
4   4 13015600 Ashutosh Brokerage and Securities P...
5   5 13014700 Asian Securities Pvt. Limited Bagba...
6   6 13011100 Global IME Bank Limited Kamaladi, K...
7   7 13015000 Bhrikuti Stock Broking Company Pvt....
8   8 13016000 Prabhu Bank Limited Babarmahal, Kat...
9   9 13011700 Citizens Bank International Limited...
10  10 13010100 Civil Capital Market Limited Kamal...
11  11 13013300 Creative Securities Pvt. Limited K...
12  12 13013400 Crystal Kanchanjungha Securities P...
13  13 13012000 Dakshinkali Investment and Securit...
14  14 13014500 Deevyaa Securities & Stock House P...
15  15 13011300 Dipshikha Dhitopatra Karobar Co. P...
16  16 13014900 Dynamic Money Managers Securities ...
17  17 13010800 Everest Bank Limited Lazimpat, Kat...
18  18 13011200 Global IME Capital Limited Jamal, ...
19  19 13016200 Guheswori Merchant Banking & Finan...
20  20 13013100 Imperial Securities Co. Pvt. Limit...

In [7]:
# Remove the first row (header inside data)
df = df.iloc[1:].reset_index(drop=True)

print(df)

                                             Raw_Data
0   1 13013200 ABC Securities Pvt. Limited Indrach...
1   2 13012300 Agrawal Securities (Pvt.) Limited K...
2   3 13011900 Aryatara Investment & Securities Pv...
3   4 13015600 Ashutosh Brokerage and Securities P...
4   5 13014700 Asian Securities Pvt. Limited Bagba...
5   6 13011100 Global IME Bank Limited Kamaladi, K...
6   7 13015000 Bhrikuti Stock Broking Company Pvt....
7   8 13016000 Prabhu Bank Limited Babarmahal, Kat...
8   9 13011700 Citizens Bank International Limited...
9   10 13010100 Civil Capital Market Limited Kamal...
10  11 13013300 Creative Securities Pvt. Limited K...
11  12 13013400 Crystal Kanchanjungha Securities P...
12  13 13012000 Dakshinkali Investment and Securit...
13  14 13014500 Deevyaa Securities & Stock House P...
14  15 13011300 Dipshikha Dhitopatra Karobar Co. P...
15  16 13014900 Dynamic Money Managers Securities ...
16  17 13010800 Everest Bank Limited Lazimpat, Kat...
17  18 13011200 Global IME Capital Limited Jamal, ...
18  19 13016200 Guheswori Merchant Banking & Finan...
19  20 13013100 Imperial Securities Co. Pvt. Limit...

In [ ]:
# Extract Serial Number (first number before space)
df["S.N."] = df["Raw_Data"].str.extract(r'^(\d+)')

In [9]:
# Extract DP ID (second number)
df["DP_ID"] = df["Raw_Data"].str.extract(r'^\d+\s+(\d+)')

In [10]:
df.head()

                                            Raw_Data S.N.     DP_ID
0  1 13013200 ABC Securities Pvt. Limited Indrach...    1  13013200
1  2 13012300 Agrawal Securities (Pvt.) Limited K...    2  13012300
2  3 13011900 Aryatara Investment & Securities Pv...    3  13011900
3  4 13015600 Ashutosh Brokerage and Securities P...    4  13015600
4  5 13014700 Asian Securities Pvt. Limited Bagba...    5  13014700

In [11]:
# Remove first two numbers from Raw_Data
df["Clean_Data"] = df["Raw_Data"].str.replace(r'^\d+\s+\d+\s+', '', regex=True)

df[["Clean_Data"]].head()
df

,Raw_Data,S.N.,DP_ID,Clean_Data
0,1 13013200 ABC Securities Pvt. Limited Indrach...,1,13013200,"ABC Securities Pvt. Limited Indrachowk, Kathma..."
1,2 13012300 Agrawal Securities (Pvt.) Limited K...,2,13012300,Agrawal Securities (Pvt.) Limited Krishna Gall...
2,3 13011900 Aryatara Investment & Securities Pv...,3,13011900,Aryatara Investment & Securities Pvt. Limited ...
3,4 13015600 Ashutosh Brokerage and Securities P...,4,13015600,Ashutosh Brokerage and Securities Pvt. Limited...
4,5 13014700 Asian Securities Pvt. Limited Bagba...,5,13014700,"Asian Securities Pvt. Limited Bagbazar, Kathma..."
5,"6 13011100 Global IME Bank Limited Kamaladi, K...",6,13011100,"Global IME Bank Limited Kamaladi, Kathmandu 01..."
6,7 13015000 Bhrikuti Stock Broking Company Pvt....,7,13015000,Bhrikuti Stock Broking Company Pvt. Limited Ne...
7,"8 13016000 Prabhu Bank Limited Babarmahal, Kat...",8,13016000,"Prabhu Bank Limited Babarmahal, Kathmandu 01-4..."
8,9 13011700 Citizens Bank International Limited...,9,13011700,"Citizens Bank International Limited Anamnagar,..."
9,10 13010100 Civil Capital Market Limited Kamal...,10,13010100,"Civil Capital Market Limited Kamaladi, Kathama..."
10,11 13013300 Creative Securities Pvt. Limited K...,11,13013300,"Creative Securities Pvt. Limited Kamalpokhari,..."
11,12 13013400 Crystal Kanchanjungha Securities P...,12,13013400,Crystal Kanchanjungha Securities Pvt. Limited ...
12,13 13012000 Dakshinkali Investment and Securit...,13,13012000,Dakshinkali Investment and Securities Pvt. Lim...
13,14 13014500 Deevyaa Securities & Stock House P...,14,13014500,Deevyaa Securities & Stock House Pvt. Limited ...
14,15 13011300 Dipshikha Dhitopatra Karobar Co. P...,15,13011300,Dipshikha Dhitopatra Karobar Co. Pvt. Limited ...
15,16 13014900 Dynamic Money Managers Securities ...,16,13014900,Dynamic Money Managers Securities Pvt. Limited...
16,"17 13010800 Everest Bank Limited Lazimpat, Kat...",17,13010800,"Everest Bank Limited Lazimpat, Kathmandu 01-44..."
17,"18 13011200 Global IME Capital Limited Jamal, ...",18,13011200,"Global IME Capital Limited Jamal, Kathmandu 01..."
18,19 13016200 Guheswori Merchant Banking & Finan...,19,13016200,Guheswori Merchant Banking & Finance Limited P...
19,20 13013100 Imperial Securities Co. Pvt. Limit...,20,13013100,Imperial Securities Co. Pvt. Limited Anamnagar...

In [12]:
# Extract telephone numbers
df["Telephone"] = df["Clean_Data"].str.extract(r'((?:\d{2}-\d{6,7}(?:,\s*)?)*)$')

df[["Clean_Data", "Telephone"]].head()

                                          Clean_Data               Telephone
0  ABC Securities Pvt. Limited Indrachowk, Kathma...              01-4230787
1  Agrawal Securities (Pvt.) Limited Krishna Gall...              01-5554793
2  Aryatara Investment & Securities Pvt. Limited ...  01-5706297, 01-5705596
3  Ashutosh Brokerage and Securities Pvt. Limited...  01-4220276, 01-4227510
4  Asian Securities Pvt. Limited Bagbazar, Kathma...              01-4240609

In [13]:
# Remove telephone from Clean_Data
df["Clean_Data"] = df["Clean_Data"].str.replace(r'((?:\d{2}-\d{6,7}(?:,\s*)?)*)$', '', regex=True).str.strip()

df[["Clean_Data", "Telephone"]].head()

                                          Clean_Data               Telephone
0  ABC Securities Pvt. Limited Indrachowk, Kathmandu              01-4230787
1  Agrawal Securities (Pvt.) Limited Krishna Gall...              01-5554793
2  Aryatara Investment & Securities Pvt. Limited ...  01-5706297, 01-5705596
3  Ashutosh Brokerage and Securities Pvt. Limited...  01-4220276, 01-4227510
4  Asian Securities Pvt. Limited Bagbazar, Kathmandu              01-4240609

In [14]:
# Split address from right side at last comma
df[["Address", "City"]] = df["Clean_Data"].str.rsplit(",", n=1, expand=True)

df["Address"] = df["Address"].str.strip()
df["City"] = df["City"].str.strip()

df[["Address", "City"]].head()

                                             Address       City
0             ABC Securities Pvt. Limited Indrachowk  Kathmandu
1    Agrawal Securities (Pvt.) Limited Krishna Galli   Lalitpur
2  Aryatara Investment & Securities Pvt. Limited ...  Kathmandu
3  Ashutosh Brokerage and Securities Pvt. Limited...  Kathmandu
4             Asian Securities Pvt. Limited Bagbazar  Kathmandu

In [15]:
# Extract Company Name (everything ending with Limited)
df["Company_Name"] = df["Address"].str.extract(r'^(.*?Limited)')

# Extract actual street address (text after Limited)
df["Street_Address"] = df["Address"].str.replace(r'^.*?Limited', '', regex=True).str.strip()

df[["Company_Name", "Street_Address"]].head()

                                     Company_Name Street_Address
0                     ABC Securities Pvt. Limited     Indrachowk
1               Agrawal Securities (Pvt.) Limited  Krishna Galli
2   Aryatara Investment & Securities Pvt. Limited     Dillibazar
3  Ashutosh Brokerage and Securities Pvt. Limited  Khichapokhari
4                   Asian Securities Pvt. Limited       Bagbazar

In [16]:
final_df = df[["S.N.", "DP_ID", "Company_Name", "Street_Address", "City", "Telephone"]]

final_df.head()

,S.N.,DP_ID,Company_Name,Street_Address,City,Telephone
0,1,13013200,ABC Securities Pvt. Limited,Indrachowk,Kathmandu,01-4230787
1,2,13012300,Agrawal Securities (Pvt.) Limited,Krishna Galli,Lalitpur,01-5554793
2,3,13011900,Aryatara Investment & Securities Pvt. Limited,Dillibazar,Kathmandu,"01-5706297, 01-5705596"
3,4,13015600,Ashutosh Brokerage and Securities Pvt. Limited,Khichapokhari,Kathmandu,"01-4220276, 01-4227510"
4,5,13014700,Asian Securities Pvt. Limited,Bagbazar,Kathmandu,01-4240609

In [17]:
# Combine Street_Address and City into one column called Address
final_df["Address"] = final_df["Street_Address"] + ", " + final_df["City"]

# Drop old columns if you don't need them
final_df = final_df.drop(columns=["Street_Address", "City"])

final_df.head()

C:\Users\Ryzen\AppData\Local\Temp\ipykernel_22228\2245705417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["Address"] = final_df["Street_Address"] + ", " + final_df["City"]

,S.N.,DP_ID,Company_Name,Telephone,Address
0,1,13013200,ABC Securities Pvt. Limited,01-4230787,"Indrachowk, Kathmandu"
1,2,13012300,Agrawal Securities (Pvt.) Limited,01-5554793,"Krishna Galli, Lalitpur"
2,3,13011900,Aryatara Investment & Securities Pvt. Limited,"01-5706297, 01-5705596","Dillibazar, Kathmandu"
3,4,13015600,Ashutosh Brokerage and Securities Pvt. Limited,"01-4220276, 01-4227510","Khichapokhari, Kathmandu"
4,5,13014700,Asian Securities Pvt. Limited,01-4240609,"Bagbazar, Kathmandu"

In [18]:
final_df

,S.N.,DP_ID,Company_Name,Telephone,Address
0,1,13013200,ABC Securities Pvt. Limited,01-4230787,"Indrachowk, Kathmandu"
1,2,13012300,Agrawal Securities (Pvt.) Limited,01-5554793,"Krishna Galli, Lalitpur"
2,3,13011900,Aryatara Investment & Securities Pvt. Limited,"01-5706297, 01-5705596","Dillibazar, Kathmandu"
3,4,13015600,Ashutosh Brokerage and Securities Pvt. Limited,"01-4220276, 01-4227510","Khichapokhari, Kathmandu"
4,5,13014700,Asian Securities Pvt. Limited,01-4240609,"Bagbazar, Kathmandu"
5,6,13011100,Global IME Bank Limited,"01-4228671, 01-4226247","Kamaladi, Kathmandu"
6,7,13015000,Bhrikuti Stock Broking Company Pvt. Limited,01-4223466,"Newroad, Kathmandu"
7,8,13016000,Prabhu Bank Limited,01-4788500,"Babarmahal, Kathmandu"
8,9,13011700,Citizens Bank International Limited,01-4102534,"Anamnagar, Kathmandu"
9,10,13010100,Civil Capital Market Limited,01-4168664,"Kamaladi, Kathamandu"
10,11,13013300,Creative Securities Pvt. Limited,01-4419582,"Kamalpokhari, Kathamndu"
11,12,13013400,Crystal Kanchanjungha Securities Pvt. Limited,01-4011072,"New Plaza, Kathmandu"
12,13,13012000,Dakshinkali Investment and Securities Pvt. Lim...,01-4439676,"Kamalpokhari, Kathmandu"
13,14,13014500,Deevyaa Securities & Stock House Pvt. Limited,01-4421488,"Putalisadak, Kathmandu"
14,15,13011300,Dipshikha Dhitopatra Karobar Co. Pvt. Limited,01-4169067,"Kamaladi, Kathamndu"
15,16,13014900,Dynamic Money Managers Securities Pvt. Limited,01-4414522,"Putalisadak, Kathmandu"
16,17,13010800,Everest Bank Limited,01-4443377,"Lazimpat, Kathmandu"
17,18,13011200,Global IME Capital Limited,01-4422460,"Jamal, Kathmandu"
18,19,13016200,Guheswori Merchant Banking & Finance Limited,"01-5550406, 01-5537407","Pulchowk, Lalitpur"
19,20,13013100,Imperial Securities Co. Pvt. Limited,01-4231004,"Anamnagar, Kathmandu"